<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>LEQ_service</title>
    </head>
    <body>
        <form enctype="multipart/form-data" method="post">
            <p>
                <input type="text" id="type_apartment" placeholder="Тип квартиры">
                <input type="text" id="district" placeholder="Район">

            </p>

            <input type="submit" value="Отправить">
            <button onclick="sendJSON">Отправитьjson</button>
        </form>
    </body>
</html>